@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: var(--font-geist-sans);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}